<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Raffle</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">
</head>
<body>
	<div id="loading" class="loading">Loading...</div>
	<div id="title" class="title"><a href="javascript:void(0);" class="icon" onclick="slideOut()"><- Raffle Entry</a></div>
	<div id="raffle-entry" class="raffle-entry">
		<form>
			<div class="smaller-title">Name:</div>
			<input type="text" id="name" name="name">
			<div class="smaller-title">Phone Number:</div>
			<input type="text" id="phone">
			<div class="smaller-title">Address:</div>
			<input type="text" id="address">
		</form> 
		<a href="javascript:void(0);" class="icon" onclick="enterData()">Submit</a>
	</div>
	<script src="/js/raffleEntry.js"></script>
</body>
</html>