<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Me</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">
</head>
<body>
	<div id="loading" class="loading">Loading...</div>
	<div id="title" class="title"><a href="javascript:void(0);" class="icon" onclick="slideOut()"><- About Me</a></div>
	<div id="school-description" class="school-description">
		I am a junior in highschool, and will be graduating in 2024. My favorite classes are engineering, math, and science.
	</div>
	<div class="orgin">
		I first started programming in 8th grade when I got a ti-84+ CE for pre-calc, and started programming on it. After that, I started getting into python for a school fair sort of thing, and just kind of branched out after that into blender and Unity.
	</div>
	<script src="/js/about-me.js"></script>
</body>
</html>