<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Auto A+ Signup</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">
</head>
<body>
	<div id="loading" class="loading">Loading...</div>
	<div id="title" class="title">Auto A+ Signup</div>
	<label for="username" class="smaller-title">Username:</label>
	<input id="username" data-search>
	<label for="password" class="smaller-title">Password:</label>
	<input id="password" data-search>
	<input id="clickMe" type="button" value="clickme" onclick="confirm();" />
	<script src="/js/aplus.js"></script>
</body>
</html>