<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Downloads</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">

	<script src="/js/transitions.js" defer></script>
	<script src="/js/games.js"></script>
</head>
<body>
	<div id="loading">Loading...</div>
	<div id="title" class="title" transition-component style="display: none;">
		<a href="javascript:void(0);" class="icon" onclick="slideOut('/')"><- Game Downloads</a>
	</div>
	<container id="game-container" class="game-container">
		<a href="/games/surge/updater" class = "game-download"><img src="/files/surge/logo.jpg" alt="surge"  transition-component style="display: none;"></a>
		<a href="/games/surge/server" class = "game-download"><img src="/files/surge/logo_server.jpg" alt="surge" transition-component style="display: none;"></a>
	</container>
</body>
</html>