<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VAHS Engineering Club</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<nav class="navbar">
		<div class="navbar_containter">
			<!--<a href="/" id="navbar_logo">VAHS Engineering Club</a>
			</div>-->
			<ul class="navbar_menu_right">
				<li>
					<a class = active_page href="/"> Home </a>
				</li>
				<li>
					<a href="/3d-printing"> 3D Printing </a>
				</li>
				<li>
					<a href="/rocketry"> Rocketry </a>
				</li>
				<li>
					<a href="/seaperch"> Sea Pearch </a>
				</li>
				<li>
					<a href="/synthetic-hand"> Synthetic Hand </a>
				</li>
				<li>
					<a href="/drones"> Drones </a>
				</li>

			</ul>
		</div>
	</nav>

	<section class="hero">
		<div class="hero_logo">
				<span>VAHS</span> Engineering Club
		</div>
	</section>
	<section class="announcements">
		<div class="announcements_header">
			<h3>Announcements:</h3>
		</div>
		<div class="announcements_list">
			<ul>
				<li>Sub-clubs are being created, be sure to choose one or more soon! - look at information pages to see how to contact the leaders.</li>
				<li>If you want me to add your info or other things about your sub-club, tell me (:</li>
			</ul>
		</div>
	</section>

	<section class="small_info">
		<h6>Made by Landon Bakken</h6>
	</section>
</body>
</html>
