<!DOCTYPE html>
<!--just add ../public to refrences, and ad /views to urls-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Personal Website</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">

	<script src="/js/transitions.js"></script>
	<script src="/js/index.js"></script>
</head>
<body>
	<div id="loading">Loading...</div>
	<nav class="navbar">
		<div id="navbar-left" transition-component style="display: none;">
			<ul class="navbar-list">
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/about-me')">About Me</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/skills')">Skills </a> 
				</li>
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/projects')">Projects </a>
				</li>
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/project-demos')">Project Demos</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/asperations')">Asperations </a>
				</li>
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/games')">Games </a>
				</li>

			</ul>
		</div>
		<div id="lastname" class="sideways-hero" transition-component style="display: none;">
			<span style="--i:1">B</span>
			<span style="--i:2">a</span>
			<span style="--i:3">k</span>
			<span style="--i:4">k</span>
			<span style="--i:5">e</span>
			<span style="--i:6">n</span>
		</div>
		<div id="firstname" class="sideways-hero"  transition-component style="display: none;">
			<span style="--i:1">L</span>
			<span style="--i:2">a</span>
			<span style="--i:3">n</span>
			<span style="--i:4">d</span>
			<span style="--i:5">o</span>
			<span style="--i:6">n</span>
		</div>
	</nav>
</body>
</html>
