<!DOCTYPE html>
<!--replace "/img" with "../public/img", then add it to line 9, 10, and 47-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projects</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">
	<link rel="icon" href="/img/favicon.ico">

	<script src="/js/transitions.js" defer></script>
	<script src="/js/projects.js" defer></script>
</head>
<body id="projects-body"> 
	<div id="loading">Loading...</div>
	<div id="title" class="title" transition-component style="display: none;">
		<a href="javascript:void(0);" onclick="slideOut('/')"><- Projects</a>
	</div>

	<div id="unfocusProject" class="title" style="display: none;"><a href="javascript:void(0);" onclick="focusProject(0, false)"><- Back</a></div>
	<div class="projectInfo" id="projectInfo">Lorem ipsum dolor, sit amet conse
		ctetur adipisicing elit. Quas debitis eos eligendi nobis, ex non sit fugiat alias vel quo! Iste error consectetur unde ut provident animi est rem culpa?</div>
	
	<div id="projects-grid"></div>

	<template project-template>
		<div transition-component project class="project-item">
			<a href="javascript:void(0);" class="project-link" onclick="focusProject('id')">
				<img src="/img/image0.png" alt="project img" class="project-img">
			</a>
		</div>
	</template>
</body>
</html>
