<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projects</title>
	<link rel="stylesheet" href="../public/css/main.css">
	<link rel="stylesheet" href="../public/css/keyframes.css">
	<link rel="icon" href="../public/img/favicon.ico">
</head>
<body>
	<div id="loading" class="loading">Loading...</div>
	<div id="title" class="title"><a href="javascript:void(0);" class="icon" onclick="slideOut()"><- Projects</a></div>
	<container class="projects-container">
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img1', 'Left', 'Left')"><img id="img1" src="../public/img/image0.png" alt="img" width = auto height = auto></a>
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img2', 'Top', 'Top')"><img id="img2" src="../public/img/image0.png" alt="img" width = auto height = auto></a>
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img3', 'Top', 'Top')"><img id="img3" src="../public/img/image0.png" alt="img" width = auto height = auto></a>
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img4', 'Top', 'Right')"><img id="img4" src="../public/img/image0.png" alt="img" width = auto height = auto></a>
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img5', 'Left', 'Bottom')"><img id="img5" src="../public/img/image0.png" alt="img" width = auto height = auto></a>
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img6', 'Bottom', 'Bottom')"><img id="img6" src="../public/img/image0.png" alt="img" width = auto height = auto></a>
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img7', 'Bottom', 'Bottom')"><img id="img7" src="../public/img/image0.png" alt="img" width = auto height = auto></a>
		<a href="javascript:void(0);" class="icon" onclick="changeImage('img8', 'Right', 'Bottom')"><img id="img8" src="../public/img/image0.png" alt="img" width = auto height = auto></a>

	</container>
	<script src="../public/js/projects.js"></script>
</body>
</html>