<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Skills</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">

	<script src="/js/transitions.js" defer></script>
	<script src="/js/skills.js"></script>
</head>
<body>
	<div id="loading">Loading...</div>
	<div id="title" class="title" transition-component style="display: none;">
		<a href="javascript:void(0);" class="icon" onclick="slideOut('/')"><- Skills</a>
	</div>
	<nav class="hambar" id="hambar"> 
		<ul class="hambar-list" id="hambar-list" transition-component style="display: none;">
			<li><a href="javascript:void(0);" class="icon" onclick="toggleSkill('scale', 'grid')">Scale Info</a></li>
			<li><a href="javascript:void(0);" class="icon" onclick="toggleSkill('blender', 'grid')">Blender 3D</a></li>
			<li><a href="javascript:void(0);" class="icon" onclick="toggleSkill('languages', 'grid')">Languages</a></li>
			<li><a href="javascript:void(0);" class="icon" onclick="toggleSkill('game-creation', 'grid')">Game Creation</a></li>
			<li><a href="javascript:void(0);" class="icon" onclick="toggleSkill('hardware', 'grid')">Hardware</a></li>
			<li><a href="javascript:void(0);" class="icon" onclick="toggleSkill('web-dev', 'grid')">Web Development</a></li>
			<li><a href="javascript:void(0);" class="icon" onclick="toggleSkill('misc', 'grid')">Misc</a></li>
		</ul>

		<container class="skill-list-container" id="skill-list-container" transition-component style="display: none;">
			<div id="blender">
				<ul class="skill-names">
					<li>Modeling (soft):</li>
					<li>Modeling (hard):</li>
					<li>Animation:</li>
					<li>Character Rigging:</li>
					<li>Simulations:</li>
				</ul>
				<ul class="skill-ratings">
					<li>2.5/5</li>
					<li>4.0/5</li>
					<li>3.0/5</li>
					<li>2.0/5</li>
					<li>3.5/5</li>
				</ul>
			</div>
			<div id="scale">
				<ul class="skill-names">
					<li>Basic Understanding:</li>
					<li>Little bit of experience:</li>
					<li>Passable, but needs work:</li>
					<li>Very confortable, and almost perfect:</li>
					<li>One of my main skills:</li>
				</ul>
				<ul class="skill-ratings">
					<li>1.0/5</li>
					<li>2.0/5</li>
					<li>3.0/5</li>
					<li>4.0/5</li>
					<li>5.0/5</li>
				</ul>
			</div>
			<div id="languages">
				<ul class="skill-names">
					<li>Python:</li>
					<li>C#:</li>
					<li>Java:</li>
					<li>HTML:</li>
					<li>CSS/SASS:</li>
					<li>Javascript:</li>
					<li>C++:</li>
					<li>Assembly</li>
				</ul>
				<ul class="skill-ratings">
					<li>5.0/5</li>
					<li>4.0/5</li>
					<li>3.5/5</li>
					<li>3.5/5</li>
					<li>3.0/5</li>
					<li>4.0/5</li>
					<li>3.5/5</li>
					<li>1.0/5</li>
				</ul>
			</div>
			<div id="game-creation">
				<ul class="skill-names">
					<li>Unity:</li>
					<li>Unreal Engine 4:</li>
					<li>Unreal Engine 5:</li>
					<li>Game Design:</li>
					<li>Singleplayer:</li>
					<li>Multiplayer:</li>
				</ul>
				<ul class="skill-ratings">
					<li>4.5/5</li>
					<li>1.5/5</li>
					<li>3.0/5</li>
					<li>2.0/5</li>
					<li>3.5/5</li>
					<li>4.5/5</li>
				</ul>
			</div>
			<div id="hardware">
				<ul class="skill-names">
					<li>3D Printing:</li>
					<li>Curcitry:</li>
					<li>Microcontrollers:</li>
					<li>Arduino:</li>
					<li>Raspberry Pi:</li>
					<li>CAD (Fusion 360, Onshape):</li>
				</ul>
				<ul class="skill-ratings">
					<li>5.0/5</li>
					<li>2.0/5</li>
					<li>1.5/5</li>
					<li>4.0/5</li>
					<li>3.5/5</li>
					<li>3.5/5</li>
				</ul>
			</div>
			<div id="web-dev">
				<ul class="skill-names">
					<li>Frontend:</li>
					<li>Backend (server):</li>
					<li>Backend (webpage):</li>
					<li>Design:</li>
				</ul>
				<ul class="skill-ratings">
					<li>3.5/5</li>
					<li>3.0/5</li>
					<li>4.0/5</li>
					<li>1.5/5</li>
				</ul>
			</div>
			<div id="misc">
				<ul class="skill-names">
					<li>Discord Bots (python):</li>
					<li>Artificial Intelegence:</li>
					<li>Calculator Programming:</li>
					<li>Git (project management):</li>
					<li>Cat-whispering:</li>
					<li>Dog-whispering:</li>
				</ul>
				<ul class="skill-ratings">
					<li>3.5/5</li>
					<li>1.5/5</li>
					<li>7.0/5</li>
					<li>3.0/5</li>
					<li>5.5/5</li>
					<li>5.0/5</li>
				</ul>
			</div>
		</container>
	</nav>
</body>
</html>
