<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VAHS Engineering Club</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<nav class="hambar">
		<div class="title">Projects</div>
		<ul class="hambar-list">
			<li>Blender 3D</li>
			<li>Languages</li>
			<li>Misc</li>
			<li>Game Creation</li>
			<li>Hardware</li>
			<li>Websites</li>
		</ul>
	</nav>
</body>
</html>
