<!DOCTYPE html>
<!--just add ../public to refrences, and ad /views to urls-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Personal Website</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/keyframes.css">
</head>
<body>
	<div id="loading" class="loading">Loading...</div>
	<nav class="navbar">
		<div id="navbar-left">
			<ul class="navbar-list">
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/')"><- Home</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/use-projects/NFL-Fundraiser')">NFL Fundraiser</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="icon" onclick="slideOut('/use-projects/circle-physics')">Circle Physics Engine </a> 
				</li>
			</ul>
		</div>
	</nav>

	<script src="/js/use-projects.js"></script>
</body>
</html>
