/*Animations:
Small things*/
@-webkit-keyframes wiggle {
  0%, 100%, 50% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2.5deg);
  }
  75% {
    transform: rotateZ(-2.5deg);
  }
}
@keyframes wiggle {
  0%, 100%, 50% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2.5deg);
  }
  75% {
    transform: rotateZ(-2.5deg);
  }
}
@-webkit-keyframes flip {
  0%, 80% {
    transform: rotateX(360deg);
  }
}
@keyframes flip {
  0%, 80% {
    transform: rotateX(360deg);
  }
}
@-webkit-keyframes jump {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
@keyframes jump {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
/*Transitions:*/
@-webkit-keyframes transitionInRight {
  0% {
    transform: translateX(150%);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes transitionInRight {
  0% {
    transform: translateX(150%);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes transitionOutRight {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(150%);
  }
}
@keyframes transitionOutRight {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(150%);
  }
}
@-webkit-keyframes transitionOutRightFar {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(400%);
  }
}
@keyframes transitionOutRightFar {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(400%);
  }
}
@-webkit-keyframes transitionInRightFar {
  0% {
    transform: translateX(400%);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes transitionInRightFar {
  0% {
    transform: translateX(400%);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes transitionInLeft {
  0% {
    transform: translateX(-150%);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes transitionInLeft {
  0% {
    transform: translateX(-150%);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes transitionOutLeft {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-150%);
  }
}
@keyframes transitionOutLeft {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-150%);
  }
}
@-webkit-keyframes transitionInLeftFar {
  0% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes transitionInLeftFar {
  0% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes transitionOutLeftFar {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes transitionOutLeftFar {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-300%);
  }
}
@-webkit-keyframes transitionOutTop {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-150%);
  }
}
@keyframes transitionOutTop {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-150%);
  }
}
@-webkit-keyframes transitionInTop {
  0% {
    transform: translateY(-150%);
  }
  80% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes transitionInTop {
  0% {
    transform: translateY(-150%);
  }
  80% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes transitionInBottom {
  0% {
    transform: translateY(20em);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes transitionInBottom {
  0% {
    transform: translateY(20em);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes transitionInBottomMegaFar {
  0% {
    transform: translateY(50em);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes transitionInBottomMegaFar {
  0% {
    transform: translateY(50em);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes transitionOutBottomMegaFar {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(50em);
  }
}
@keyframes transitionOutBottomMegaFar {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(50em);
  }
}
@-webkit-keyframes transitionOutBottom {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(150%);
  }
}
@keyframes transitionOutBottom {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(150%);
  }
}
@-webkit-keyframes transitionOutBottomFar {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(300%);
  }
}
@keyframes transitionOutBottomFar {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(300%);
  }
}
@-webkit-keyframes transitionInBottomFar {
  0% {
    transform: translateY(300%);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes transitionInBottomFar {
  0% {
    transform: translateY(300%);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=keyframes.css.map */