/*Animations:
Small things*/
@keyframes wiggle {
	0%, 100%, 50% {
		transform: rotateZ(0deg)
	}
	25% {
		transform: rotateZ(2.5deg)
	}
	75% {
		transform: rotateZ(-2.5deg)
	}

}
@keyframes flip {
	0%,80% {
	  transform: rotateX(360deg);
	}
}
@keyframes jump {
	0%,100% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(10px);
	}
}

/*Transitions:*/
@keyframes transitionInRight {
	0% {
		transform: translateX(150%);
	}

	80% {
		transform: translateX(-15px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes transitionOutRight {
	0% {
		transform: translateX(0px);
	}

	20% {
		transform: translateX(-15px);
	}

	100% {
		transform: translateX(150%);
	}
}
@keyframes transitionOutRightFar {
	0% {
		transform: translateX(0px);
	}

	20% {
		transform: translateX(-15px);
	}

	100% {
		transform: translateX(400%);
	}
}
@keyframes transitionInRightFar {
	0% {
		transform: translateX(400%);
	}

	80% {
		transform: translateX(-15px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes transitionInLeft {
	0% {
		transform: translateX(-150%);
	}

	80% {
		transform: translateX(15px);
	}

	100% {
		transform: translateX(0px);
	}
}
@keyframes transitionOutLeft {
	0% {
		transform: translateX(0px);
	}

	20% {
		transform: translateX(15px);
	}

	100% {
		transform: translateX(-150%);
	}
}

@keyframes transitionOutTop {
	0% {
		transform: translateY(0px);
	}

	20% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(-150%);
	}
}
@keyframes transitionInTop {
	0% {
		transform: translateY(-150%);
	}

	80% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes transitionInBottom {
	0% {
		transform: translateY(20em);
	}

	80% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0px);
	}
}
@keyframes transitionInBottomMegaFar {
	0% {
		transform: translateY(30em);
	}

	80% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0px);
	}
}
@keyframes transitionOutBottom {
	0% {
		transform: translateY(0px);
	}

	20% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(150%);
	}
}
@keyframes transitionOutBottomFar {
	0% {
		transform: translateY(0px);
	}

	20% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(300%);
	}
}
@keyframes transitionInBottomFar {
	0% {
		transform: translateY(300%);
	}

	80% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0px);
	}
}