:root {
	--backround: #716969;
	--margins: #090226;
	--other1: #FFE45E;
	--other2: #474A2C;
	--other3: #C2EFEB;
	--text: #000;
}

body {
	background: var(--backround);
	color: var(--backround);
	margin: 0;
}

.navbar {
	background: var(--backround);
	color: var(--backround);
	display: grid;
	grid-template-columns: 70% 30%;
}

.sideways-hero-div {
	display: grid;
	grid-template-columns: 20% 20%;
	margin: 0;
	padding: 0;
}

.navbar-list {
	animation: transitionInLeft 1s;
	margin-top: -1.8em;
	color: var(--backround);

	li {
		padding: .5em 0;
		font-size: 3em;
		font-style: normal;
		list-style-type: none;
		
		a {
			text-decoration: none;
			color: var(--text);
			&:hover {
				font-weight: bold;
				display: inline-block;
				animation: jump .4s;
			}
		}
	}
}

.title {
	font-size: 3em;
	font-style: normal;
	color: var(--text);
	animation: transitionInLeft 1s;

	a {
		color: var(--text);
		text-decoration: none;
	}
}

.hambar {
	background: var(--backround);
	animation: transitionInLeft 1s;

	display: grid;
	grid-template-columns: 60% 40%;
	
	.hambar-list {
		
		li {
			list-style-type: none;
			padding: .5em 0;
			margin-left: -1em;
			font-size: 2.3em;
			font-style: normal;
			text-decoration: none;
			color: var(--text);
			white-space: nowrap;
			&:hover {
				font-weight: bold;
				display: inline-block;
				animation: jump .4s;
			}
		}
		
	}
}

.skill-list-container {
	div {
		display: none;
		grid-template-columns: max-content auto auto;
		ul {
			text-decoration: none;
			list-style-type: none;
		}
		li {
			color: black;
		}
	}
	
}

@keyframes jump {
	0%,100% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(10px);
	}
}

@keyframes flip {
	0%,80% {
	  transform: rotateY(360deg);
	}
}

@keyframes transitionInRight {
	0% {
		transform: translateX(500%);
	}

	100% {
		transform: translateX(0px);
	}
}
@keyframes transitionInLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0px);
	}
}
@keyframes transitionOutRight {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(500%);
	}
}
@keyframes transitionOutLeft {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-100%);
	}
}

.sideways-hero {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-weight: 900;
	font-family: Impact;
	font-size: 5.5em;
	/*padding-right: .4em;
	padding-top: .1em;*/
	padding: 0;
	margin: 0;
	color: #0000005f;

	animation: transitionInRight 1s;

	span {
		display: inline-block;
		animation: flip 10s infinite;
		animation-delay: calc(.3s * var(--i));

	}
}