:root {
  --backround: #716969;
  --secondary: #474A2C;
  --margins: #090226;
  --other2: #FFE45E;
  --other3: #C2EFEB;
  --text: #000;
}

body {
  overflow: hidden;
  background: var(--backround);
  color: var(--backround);
  margin: 0;
  height: 100%;
}

.loading {
  color: black;
  font-size: 3em;
  text-align: center;
  -webkit-animation: transitionOutTop 0.5s;
          animation: transitionOutTop 0.5s;
}

.navbar {
  background: var(--backround);
  color: var(--backround);
  display: grid;
  grid-template-columns: 64% 18% 18%;
}

.navbar-list {
  -webkit-animation: transitionInLeft 1s;
          animation: transitionInLeft 1s;
  margin-top: -1.8em;
  color: var(--backround);
  margin-left: -2.5em;
}
.navbar-list li {
  padding: 0.5em 0;
  font-size: 3em;
  font-style: normal;
  list-style-type: none;
}
.navbar-list li a {
  text-decoration: none;
  color: var(--text);
}
.navbar-list li a:hover {
  font-weight: bold;
  display: inline-block;
  -webkit-animation: jump 0.4s;
          animation: jump 0.4s;
}

.title {
  font-size: 3em;
  font-style: normal;
  color: var(--text);
  -webkit-animation: transitionInLeft 1s;
          animation: transitionInLeft 1s;
}
.title a {
  color: var(--text);
  text-decoration: none;
}

.hambar {
  -webkit-animation: transitionInLeft 1s;
          animation: transitionInLeft 1s;
  display: grid;
  grid-template-columns: 50% 50%;
}
.hambar a {
  text-decoration: none;
  color: var(--text);
}
.hambar .hambar-list {
  font-size: 2.3em;
}
.hambar .hambar-list li:hover {
  font-weight: bold;
  display: inline-block;
  -webkit-animation: jump 0.4s;
          animation: jump 0.4s;
}
.hambar li {
  list-style-type: none;
  padding: 0.5em 0;
  margin-left: -1em;
  font-style: normal;
  text-decoration: none;
  color: var(--text);
  white-space: nowrap;
}

.skill-list-container div {
  display: none;
  grid-template-columns: auto auto auto;
}
.skill-list-container div ul {
  text-decoration: none;
  list-style-type: none;
}
.skill-list-container div li {
  color: black;
  font-size: 2em;
}
.skill-list-container div li:hover {
  display: inline-block;
  -webkit-animation: wiggle 0.2s;
          animation: wiggle 0.2s;
}

.sideways-hero {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 900;
  font-family: Impact;
  font-size: 0.1;
  /*padding-right: .4em;
  padding-top: .1em;*/
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.3725490196);
  -webkit-animation: transitionInRight 1s;
          animation: transitionInRight 1s;
}
.sideways-hero span {
  font-size: 7em;
  display: inline-block;
  -webkit-animation: flip 7s infinite;
          animation: flip 7s infinite;
  -webkit-animation-delay: calc(0.3s * var(--i));
          animation-delay: calc(0.3s * var(--i));
}

/*mobile things*/
@media (max-width: 520px) {
  .sideways-hero {
    display: none;
  }
}
/*Animations:*/
@-webkit-keyframes wiggle {
  0%, 100%, 50% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2.5deg);
  }
  75% {
    transform: rotateZ(-2.5deg);
  }
}
@keyframes wiggle {
  0%, 100%, 50% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2.5deg);
  }
  75% {
    transform: rotateZ(-2.5deg);
  }
}
@-webkit-keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes jump {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
@keyframes jump {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
@-webkit-keyframes transitionInRight {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes transitionInRight {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes transitionInLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes transitionInLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes transitionOutRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(400%);
  }
}
@keyframes transitionOutRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(400%);
  }
}
@-webkit-keyframes transitionOutLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150%);
  }
}
@keyframes transitionOutLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150%);
  }
}
@-webkit-keyframes transitionOutTop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes transitionOutTop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes transitionInBottom {
  0% {
    transform: translateY(20em);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes transitionInBottom {
  0% {
    transform: translateY(20em);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=main.css.map */