:root {
  --backround: #716969;
  --secondary: #474A2C;
  --margins: #090226;
  --other2: #FFE45E;
  --other3: #C2EFEB;
  --text: #000;
}

body {
  background: var(--backround);
  color: var(--backround);
  margin: 0;
  height: 100%;
}

.loading {
  color: black;
  font-size: 3em;
  text-align: center;
  -webkit-animation: transitionOutTop 0.5s;
          animation: transitionOutTop 0.5s;
}

.navbar {
  background: var(--backround);
  color: var(--backround);
  display: grid;
  grid-template-columns: 64% 18% 18%;
}

.navbar-list {
  -webkit-animation: transitionInLeft 1s;
          animation: transitionInLeft 1s;
  margin-top: -1.8em;
  color: var(--backround);
  margin-left: -2.5em;
}
.navbar-list li {
  padding: 0.5em 0;
  font-size: 3em;
  font-style: normal;
  list-style-type: none;
}
.navbar-list li a {
  text-decoration: none;
  color: var(--text);
}
.navbar-list li a:hover {
  display: inline-block;
  font-weight: bold;
  -webkit-animation: jump 0.4s;
          animation: jump 0.4s;
}

.title {
  font-size: 3em;
  font-style: normal;
  color: var(--text);
  -webkit-animation: transitionInLeft 1s;
          animation: transitionInLeft 1s;
}
.title a {
  color: var(--text);
  text-decoration: none;
}

.hambar {
  -webkit-animation: transitionInLeft 1s;
          animation: transitionInLeft 1s;
  display: grid;
  grid-template-columns: 50% 50%;
}
.hambar a {
  text-decoration: none;
  color: var(--text);
}
.hambar .hambar-list {
  font-size: 2.3em;
}
.hambar .hambar-list li:hover {
  font-weight: bold;
  display: inline-block;
  -webkit-animation: jump 0.4s;
          animation: jump 0.4s;
}
.hambar li {
  list-style-type: none;
  padding: 0.5em 0;
  margin-left: -1em;
  font-style: normal;
  text-decoration: none;
  color: var(--text);
  white-space: nowrap;
}

.skill-list-container div {
  display: none;
  grid-template-columns: auto auto auto;
}
.skill-list-container div ul {
  text-decoration: none;
  list-style-type: none;
}
.skill-list-container div li {
  color: black;
  font-size: 2em;
}
.skill-list-container div li:hover {
  display: inline-block;
  -webkit-animation: wiggle 0.2s;
          animation: wiggle 0.2s;
}

.sideways-hero {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 900;
  font-family: Impact;
  font-size: 0.1;
  /*padding-right: .4em;
  padding-top: .1em;*/
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.3725490196);
  -webkit-animation: transitionInRightFar 1s;
          animation: transitionInRightFar 1s;
}
.sideways-hero span {
  font-size: 7em;
  display: inline-block;
  -webkit-animation: flip 7s infinite;
          animation: flip 7s infinite;
  -webkit-animation-delay: calc(0.3s * var(--i));
          animation-delay: calc(0.3s * var(--i));
}

.school-description {
  color: var(--text);
  -webkit-animation: transitionInLeft 1s;
          animation: transitionInLeft 1s;
}

.projects-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  max-width: 100%;
}
.projects-container div {
  position: relative;
  display: none;
  max-width: 100%;
  max-height: 100%;
  margin: 3%;
  background: rgb(78, 78, 78);
}
.projects-container .projectImg {
  position: relative;
  width: 85%;
  height: 85%;
}
.projects-container .projectImg img {
  width: auto;
  height: auto;
  max-width: 85%;
  max-height: 85%;
  scale: 1;
  transition: all 0.2s;
}
.projects-container .projectImg img:hover {
  scale: 1.05;
}
.projects-container .projectFocusButton {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 5px;
  right: 4px;
}
.projects-container .projectFocusButton img {
  background: gray;
  opacity: 50%;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.projects-container .projectFocusButton img:hover {
  opacity: 100%;
  background: rgb(46, 46, 46);
}
.projects-container a {
  width: 80%;
  height: 80%;
}
.projects-container img {
  padding: 5%;
  margin: auto;
}

.projectInfo {
  color: black;
  display: none;
}

/*mobile things*/
@media (max-width: 520px) {
  .sideways-hero {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */