:root {
	--backround: #716969;
	--margins: #090226;
	--other1: #FFE45E;
	--other2: #474A2C;
	--other3: #C2EFEB;
	--text: #000;
}

body {
	background: var(--backround);
	color: var(--backround);
	margin: 0;
}

.navbar {
	background: var(--backround);
	color: var(--backround);
	display: grid;
	grid-template-columns: 70% 15% 15%;
}

.navbar-list {
	margin-top: -1.8em;
	color: var(--backround);

	li {
		padding: .5em 0;
		font-size: 3em;
		font-style: normal;
		list-style-type: none;
		
		a {
			text-decoration: none;
			color: var(--text);
			&:hover {
				font-weight: bold;
				display: inline-block;
				animation: wavy 1s;
				animation-delay: calc(.01s * var(--i));
			}
		}
	}
}

.hambar {
	background: var(--backround);
	.title {
		font-size: 3em;
		font-style: normal;
		color: var(--text);

		a {
			color: var(--text);
			text-decoration: none;
		}
	}
	
	.hambar-list {
		li {
			list-style-type: none;
			padding: .5em 0;
			margin-left: -1em;
			font-size: 2.3em;
			font-style: normal;
			text-decoration: none;
			color: var(--text);
			&:hover {
				font-weight: bold;
				display: inline-block;
				animation: wavy 1s;
				animation-delay: calc(.01s * var(--i));
			}
		}
		
	}
}

.skill-list-container {
	ul {
		display: none;
		li {
			color: Black;
		}
	}
	
}

@keyframes wavy {
	0%,40%,100% {
	  transform: translateY(0)
	}
	20% {
	  transform: translateY(-10px)
	}
}

@keyframes flip {
	0%,80% {
	  transform: rotateY(360deg) 
	}
}

.sideways-hero {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-weight: 900;
	font-family: Impact;
	font-size: 5.5em;
	/*padding-right: .4em;
	padding-top: .1em;*/
	padding: 0;
	margin: 0;
	color: #0000005f;

	span {
		display: inline-block;
		animation: flip 15s infinite;
		animation-delay: calc(.2s * var(--i));
	}
}