:root {
	--backround: #716969;
	--secondary: #474A2C;
	--margins: #090226;
	--other2: #FFE45E;
	--other3: #C2EFEB;
	--text: #000;
}

body {
	overflow: hidden;
	background: var(--backround);
	color: var(--backround);
	margin: 0;
	height: 100%;
}

.loading {
	color: black;
	font-size: 3em;
	text-align: center;
	animation: transitionOutTop .5s;
}

.navbar {
	background: var(--backround);
	color: var(--backround);
	display: grid;
	grid-template-columns: 64% 18% 18%;
}

.navbar-list {
	animation: transitionInLeft 1s;
	margin-top: -1.8em;
	color: var(--backround);
	margin-left: -2.5em;

	li {
		padding: .5em 0;
		font-size: 3em;
		font-style: normal;
		list-style-type: none;
		
		a {
			text-decoration: none;
			color: var(--text);
			&:hover {
				display: inline-block;
				font-weight: bold;
				animation: jump .4s;
			}
		}
	}
}

.title {
	font-size: 3em;
	font-style: normal;
	color: var(--text);
	animation: transitionInLeft 1s;

	a {
		color: var(--text);
		text-decoration: none;
	}
}

.hambar {
	a {
		text-decoration: none;
		color: var(--text);
	}
	animation: transitionInLeft 1s;

	display: grid;
	grid-template-columns: 50% 50%;

	.hambar-list {
		font-size: 2.3em;

		li {
			&:hover {
			font-weight: bold;
			display: inline-block;
			animation: jump .4s;
			}
		}
		
	}

	li {
		list-style-type: none;
		padding: .5em 0;
		margin-left: -1em;
		font-style: normal;
		text-decoration: none;
		color: var(--text);
		white-space: nowrap;
	}
}

.skill-list-container {
	div {
		display: none;
		grid-template-columns: auto auto auto;
		ul {
			text-decoration: none;
			list-style-type: none;
		}
		li {
			color: black;
			font-size: 2em;
			&:hover {
				display: inline-block;
				animation: wiggle .2s;
			}
		}
	}
	
}

.sideways-hero {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-weight: 900;
	font-family: Impact;
	font-size: .1;
	/*padding-right: .4em;
	padding-top: .1em;*/
	padding: 0;
	margin: 0;
	color: #0000005f;

	animation: transitionInRightFar 1s;

	span {
		font-size: 7em;
		display: inline-block;
		animation: flip 7s infinite;
		animation-delay: calc(.3s * var(--i));
	}
}

.school-description {
	color: var(--text);
	animation: transitionInLeft 1s;
}

.projects-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	div {
		position: relative;
		display: none;
	}
	.projectImg {
		position: relative;
		width: 80%;
		height: 80%;
		img {
			width: inherit;
			height: inherit;
			scale: 1;
			transition: all .2s;
			&:hover {
				scale: 1.05;
			}
		}
	}
	.projectFocusButton {
		position: absolute;
		width: 10%;
		height: 10%;
		bottom: 15.5%;
		right: 15.5%;
		img {
			background: gray;
			opacity: 50%;
			border-radius: 5%;
			width: 100%;
			height: 100%;
			transition: all .2s;
			&:hover {
				opacity: 100%;
				background: rgb(78, 78, 78);
			}
		}
		
	}

	a {
		width: 80%;
		height: 80%;
	}
	img {
		padding: 5%;
  		margin: auto;
	}
}

/*mobile things*/
@media (max-width:520px) {
	.sideways-hero {
		display: none;
	}
}